<div class="card">
  <!--<mat-card-title>{{item.getWeather()[0].getMainWeather()}}</mat-card-title>-->
  <div class="card__title">{{item[0].getDateOnly() | date}}</div>
  <div *ngFor="let weather of item" class="inline-flex card__time-content">
    <div class="time flex flex_center">
      <span>{{weather.getTime().substr(0, 5)}}</span>
    </div>
    <div>
      <div *ngFor="let description of weather.getWeather()">
        <p class="card__description">{{description.getMainWeather()}}</p>
      </div>
      <p class="temperature">{{weather.getTemp()}}° <span class="minor">({{weather.getTempMin()}}°-{{weather.getTempMax()}}°)</span></p>
    </div>
  </div>
</div>
